name: Mumbai AQI + Weather Collector

on:
  schedule:
    - cron: "*/20 * * * *"
  workflow_dispatch:

jobs:
  collect-data:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install requests

      - name: Run data collection
        env:
          OPENWEATHER_API_KEY: ${{ secrets.OPENWEATHER_API_KEY }}
        run: |
          python data_collection/fetch_api_locations.py

      - name: Commit updated CSV
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add data/mumbai_aqi_weather.csv
          git commit -m "Update AQI & weather dataset" || echo "No changes"
          git push
